
.card-container{
    width: 658px;
    height: 753px;
    overflow-y: auto;
    left:50px;
    top: 500px;
    background: white; 
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); 
    border: 1px rgba(0, 0, 0, 0.25) solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(3, 192px);
    row-gap: 26px;
    padding: 25px;
}

.card{
    width:638px;
    justify-self: center;
    background: white; 
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); 
    border: 1px rgba(0, 0, 0, 0.25) solid;
}

.card-container-long{
    width: 1377px;
    height: 853px;
    /*overflow-y: auto;*/
    left:50px;
    top: 500px;
    background: white; 
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); 
    border: 1px rgba(0, 0, 0, 0.25) solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px repeat(20, 90px);
    row-gap: 20px;
    padding: 25px;
}

.card-long{
    width:1360px;
    justify-self: center;
    background: white; 
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); 
    border: 1px rgba(0, 0, 0, 0.25) solid;
}


.white_card{
    width: 676px; height: 192px;  
    background: white; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(0, 0, 0, 0.25) solid;
}

.searchbar{
    width: 574px; height: 40px; 
    background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 48px; border: 1px rgba(0, 0, 0, 0.50) solid;
}

::placeholder{
    color: rgb(0, 0, 0);
    opacity: 0.5; 
}

::-webkit-scrollbar {
    width: 10px;
    height: 100px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 1px;
}

::-webkit-scrollbar-button:vertical:increment {
    background-color: #fff;
}

::-webkit-scrollbar-track-piece {
    background-color: #eee;
    -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #ccc;
    -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #ccc;
    -webkit-border-radius: 0px;
}

.tg{
    width: 1290px;
    height: 790px;
    margin-top: 50px;
	font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.tg-0lax{
    text-align: center;
}

.table {
    width: 1300px;
    height: 800px;
	justify-content: center;
	align-items: center;
	margin: 5px;
    border: 2px;
}

.table td, .table th {
  width:  Xpx;
  border: 3px solid #000000;
  border-collapse: collapse;
  padding: 10px;
}