.headbar	{
	width: 1440px; 
	height: 59px; 
	left: 0px; 
	top: 0px; 
	position: absolute; 
	background: #1D8AA1; 
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.name	{
	width: 178px; 
	height: 28px; 
	left: 93px; 
	top: 16px; 
	position: absolute; 
	color: white; 
	font-size: 24px; 
	font-family: Inter; 
	font-weight: 400; 
	word-wrap: break-word;
}
.date	{
	left: 1222px; 
	top: 15px; 
	position: absolute; 
	color: white; 
	font-size: 24px; 
	font-family: Inter; 
	font-weight: 400; 
	word-wrap: break-word;
}
.time{
	left: 1105px; 
	top: 15px; 
	position: absolute; 
	color: white; 
	font-size: 24px; 
	font-family: Inter; 
	font-weight: 400; 
	word-wrap: break-word;
}
.head_task	{
	left: 616px; 
	top: 18px;
	position: absolute; 
	color: white; 
	font-size: 24px; 
	font-family: Inter; 
	font-weight: 400; 
	word-wrap: break-word;
}
.head_project	{
	left: 713px; 
	top: 18px; 
	position: absolute; 
	color: white; 
	font-size: 24px; 
	font-family: Inter; 
	font-weight: 400; 
	word-wrap: break-word;
}
.house_icon	{
	width: 49px; 
	height: 49px; 
	padding-left: 8.17px; 
	padding-right: 8.17px; 
	padding-top: 6.12px; 
	padding-bottom: 6.12px; 
	left: 555px; 
	top: -1px; 
	position: absolute; 
	justify-content: center; 
	align-items: center; 
	display: inline-flex;
}
.profile_icon	{
	width: 77px; 
	height: 77px; 
	left: 9px; 
	top: 11px; 
	position: absolute; 
	background: white; 
	border-radius: 9999px; 
	border: 1px black solid;
	width: 47px; 
	height: 47px; 
	padding-top: 3.67px; 
	padding-bottom: 5.08px; 
	padding-left: 3.64px; 
	padding-right: 3.71px; 
	left: 20px; 
	top: 24px; 
	position: absolute; 
	justify-content: center; 
	align-items: center; 
	display: inline-flex;
}